{% extends "xinjin/base.html" %}
{% block title %}
    咨询记录
{% endblock title %}
{%block navbar%}
<div class="span2">
    <div class="well" style="padding: 8px 0">
        <ul class="nav nav-list">
          <li class="nav-header">咨询记录管理</li>
          <li class="active"><a href="/jiaofu/list/">咨询记录列表</a></li>
          <li><a href="/jiaofu/create/">添加咨询记录</a></li>
          <li><a href="/jiaofu/tongji/">统计</a></li>
        </ul>
    </div>
    <p class="pull-right"><a href="?excel=1" class="btn btn-primary" target="_blank" > 导 出 </a></p>
</div>
{%endblock navbar%}
{% block content %}
<div class="span10">
	<ul class="breadcrumb">
      <li><a href="#">咨询记录</a> <span class="divider">/</span></li>
      <li class="active">列表</li>
    </ul>

	<div class="">
		<table id="datatable" class="table table-bordered">
            <thead>
    			<tr>
                    <th>
                        序号
                    </th>
                    <th>
                        时间日期
                    </th>
                    <th>
                        方式
                    </th>
                    <th width="300">
                        问题
                    </th>
                    <th>
                        人员类别
                    </th>
                    <th>
                        问题类别
                    </th>
                    <th>
                        输入人
                    </th>
                    <th>
                        处理情况
                    </th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            {% for zixun in zixun_list %}
            <tr>
                <td>
                    <a href="/jiaofu/{{zixun.id}}/">{{forloop.counter}}</a>
                </td>
                <td >
                    {{zixun.dateline|date:"Y-m-d H:i"}}
                </td>
                <td >
                    {{zixun.get_fangshi_display}}
                </td>
                <td >
                    {{zixun.wenti|truncatechars:20}}
                </td>
                <td >
                    {{zixun.get_renyuanleibie_display}}
                </td>
                <td >
                    {{zixun.wentileibie}}
                </td>
                <td >
                    {%firstof zixun.typer.first_name zixun.typer.last_name zixun.typer.username%}
                </td>
                <td >
                    {{zixun.get_chuliqingkuang_display}}
                </td>
                <td>
                    <a href="/jiaofu/{{zixun.id}}/jiejue/">解决</a>
                    <a href="/jiaofu/{{zixun.id}}/update/">编辑</a>
                    <a onclick="javascript:return confirm('您真的确实要删除吗?');" href="/jiaofu/{{zixun.id}}/delete/">删除</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
		</table>
	</div>
</div>
<script type="text/javascript">
$(function(){
    $('#datatable').dataTable({
        "iDisplayLength": 25,
        "sPaginationType": "full_numbers",
        "bLengthChange": false,
        "bInfo": false,
        "bAutoWidth": false,
        "oLanguage": {
            "sSearch": "查询: ",
            "oPaginate": {
            "sFirst": "第一页",
            "sLast": "最后页",
            "sPrevious": "上一页",
            "sNext": "下一页"
          }

        },
        "aaSorting": [[ 1 , "desc" ]]
    });
});
</script>
{% endblock content %}
