<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>北京交通大学远程学院信息管理系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta name="author" content="" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<script language="javascript" type="text/javascript" src="http://pymis.njtu.edu.cn/site_media/lib/jquery/jquery-1.5.2.min.js"></script> 
<link href="http://pymis.njtu.edu.cn/site_media/css/common.css?ver=0.1" rel="stylesheet" type="text/css">
<link href="http://pymis.njtu.edu.cn/site_media/css/mainstyle.css?ver=0.3" rel="stylesheet" type="text/css">
</head>
<body>
<div class="wrap">
  <div id="hd" class="header">
    <h1>北京交通大学远程学院信息管理系统</h1>
    <ul class="head-nav clearfix">
      <li id='home'><a href="/">我的首页</a></li>
      <!-- <li id='module'><a href="/module/module/">功能模块</a></li> -->
<!--      <li><a href="#">通知公告</a></li>
      <li><a href="#">校情展示</a></li> -->
    </ul>
    <div class="side-nav">
      <ul class="clearfix">
        <li><a href="http://www.bjtu.edu.cn" target="__homepage__">学校主页</a></li>
        <li id="password"><a href="/accounts/password/change/">修改密码</a></li>
        <li><a href="/accounts/logout/">退出系统</a></li>
      </ul>
    </div>
  </div>
  <div id="bd" class="bodyer clearfix">
  
<script>
$('#home').addClass('select');
</script>
    <div class="self-nav">
      <div class="self-info clearfix">
        <div class="head-pic"> <a href="{{ STATIC_URL }}img/default_avatar.png"> <img src="{{ STATIC_URL }}img/default_avatar.png" alt="" /> </a> </div> 
        <div class="welcom"> <span>欢迎 {{user.first_name}} 老师！</span><!-- <span>上次登录IP：<b> 202.112.154.187 </b></span> <span>上次登录时间：<b> 2012-09-17 </b></span> --></div>
      </div>
      <ul class="clearfix">  
            <li><a href="http://dispub.bjtu.edu.cn/cms/index.do" target="_blank">教学平台</a></li>    
            <li><a href="http://202.112.157.145/cms/xyjj/index.htm" target="_blank">学院简介</a></li>  
            <li><a href="http://202.112.157.145/cms/zcfg/index.htm" target="_blank">政策法规</a></li>  
            <li><a href="http://202.112.157.145/cms/zszl/index.htm" target="_blank">招生专栏</a></li>  
            <li><a href="http://202.112.157.145/cms/xwzd/index.htm" target="_blank">校外站点</a></li>  
            <li><a href="http://202.112.157.145/cms/zcfw/index.htm" target="_blank">支持服务</a></li>  
            <li><a href="http://202.112.157.145/cms/xxzn/index.htm" target="_blank">学习指南</a></li>  
            <li><a href="http://202.112.157.145/cms/xsyd/index.htm" target="_blank">学生园地</a></li>  
            <li><a href="http://202.112.157.131/cms" target="_blank">校友录</a></li>  
            <li><a href="http://202.112.157.145/cms/xzyd/index.htm" target="_blank">下载园地</a></li>  
            <li><a href="http://202.112.157.145/cms/tszy/index.htm" target="_blank">特色资源</a></li>  
      </ul>
    </div>
    <div class="content clearfix">
      <div class="main clearfix">
        
            <div class="main-box">
            <h3>新闻点播</h3>
            <a href="http://dispub.bjtu.edu.cn/cms/xwdb/index.htm" class="link-more" target="_blank"> >>更多</a>
                      
                {{news_list1|safe}}             
            
            </div>
        
            <div class="main-box">
            <h3>学院通知</h3>
            <a href="http://dispub.bjtu.edu.cn/cms/xytz/index.htm" class="link-more" target="_blank"> >>更多</a>
                 
              {{news_list2|safe}} 
            
            </div>
        
      </div>
      <div class="side clearfix">
        <div class="side-content">
        
        <div class="side-box">
          <h3>财务信息查询</h3>
          <ul>            
            <li><a href="/gongzi/" target="_blank">个人工资查询</a></li>          
          </ul>
        </div>
        </div>
      </div>
    </div>

  </div>
  <div id="ft" class="footer"> 管理员邮箱 mis@bjtu.edu.cn<br>
    版权所有： 北京交通大学信息中心 Copyright 2002-2010 </div>
  </div>
</body>
</html>
  
