<!DOCTYPE html>
<html>
<head>
    <title>状态记录</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/demo_table.css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="main">
            <div class="row">
                <img name="rk_r1_c1" src="http://dis.bjtu.edu.cn/images/rk_r1_c1.jpg" width="126" height="110" border="0" alt="">
                <img name="rk_r1_c2" src="http://dis.bjtu.edu.cn/images/rk_r1_c2.jpg" width="469" height="110" border="0" alt="">
            </div>
            <div class="row" style="margin: 15px 0">
                <div class="span2">
                    <div class="well" style="padding: 8px 0">
                        <ul class="nav nav-list">
                          <li class="nav-header">状态记录</li>
                          <li><a href="/webstatus/create/">添加状态</a></li>
                          <li class="active"><a href="/webstatus/list/">状态列表</a></li>
                          <li><a href="/webstatus/tongji/">统计</a></li>
                        </ul>
                    </div>
                </div>
                <div class="span9">
                    <!--<div class="pull-right" style="margin-top:3px">
                        <form class="form-search">
                            <div class="input-append">
                                <input name="fn" type="text" class="span2 search-query">
                                <button type="submit" class="btn">查找</button>
                            </div>
                        </form>
                    </div>-->
                    <ul class="breadcrumb">
                      <li><a href="#">状态记录</a> <span class="divider">/</span></li>
                      <li class="active">列表</li>
                    </ul>
                    <p class="pull-right"><a href="?excel=1&bh={{bh}}" class="btn">导出</a></p>
                    <table id="datatable" class="table table-bordered " style="">
                        <thead>
                        <tr>
                            <th>
                                时间日期
                            </th>
                            <th>
                                监测人
                            </th>
                            <th>
                                教师工作室
                            </th>
                            <th>
                                学生工作室
                            </th>
                            <th>
                                在线测试
                            </th>
                            <th>
                                交互课堂
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ws in webstatus_list %}
                        <tr>
                           <td>{{ws.log_date|date:"Y-m-d"}} {{ws.log_time}}</td>
                           <td>{%firstof ws.user.first_name ws.user%}</td>
                           <td><span {%if ws.jsgzs == "异常"%}class="text-error"{%endif%}>{{ws.jsgzs}}</span></td>
                           <td><span {%if ws.xsgzs == "异常"%}class="text-error"{%endif%}>{{ws.xsgzs}}</span></td>
                           <td><span {%if ws.zxcs == "异常"%}class="text-error"{%endif%}>{{ws.zxcs}}</span></td>
                           <td><span {%if ws.jhkt == "异常"%}class="text-error"{%endif%}>{{ws.jhkt}}</span></td>
                           <td>
                            {%if ws.user = user%}
                            <a href="/webstatus/{{ws.pk}}/update/">修改</a> | <a href="/webstatus/{{ws.pk}}/delete/" onclick="javascript:return confirm('您真的确实要删除吗?');">删除</a>
                            {%else%}
                            <a href="/webstatus/{{ws.pk}}/view/">查看</a>
                            {%endif%}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% comment %}
                    <div class="pagination pagination-right">
                      <ul>
                        {% if user_list.has_previous %}
                        <li>
                            <a href="?fn={{fn}}&page={{user_list.previous_page_number}}">上一页</a>
                        </li>
                        {% else %}
                        <li class="disabled"><a>上一页</a></li>
                        {% endif %}
                        {% if user_list.has_next %}
                        <li>
                            <a href="?fn={{fn}}&page={{user_list.next_page_number}}">下一页</a>
                        </li>
                        {% else %}
                        <li class="disabled"><a>下一页</a></li>
                        {% endif %}
                      </ul>
                    </div>
                    {% endcomment %}

                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
$(function(){
    $('#datatable').dataTable({
        "iDisplayLength": 20,
        "sPaginationType": "full_numbers",
        "bPaginate": true,
        "bLengthChange": false,
        "bInfo": false,
        "bAutoWidth": false,
        "aaSorting": [[ 0 , "desc" ]],
        "oLanguage": {
          "oPaginate": {
            "sFirst": "第一页",
            "sLast": "最后页",
            "sPrevious": "上一页",
            "sNext": "下一页"
          }
        }
    });
});
</script>
</body>
</html>