<html>
    <head>

        <script language="javascript" type="text/javascript">

        function preview() {  
        var bdhtml=window.document.body.innerHTML;  
        var sprnstr="<!-- startprint-->";  
        var eprnstr="<!-- endprint-->";  
        var prnhtml=bdhtml.substring(bdhtml.indexOf(sprnstr)+18,bdhtml.length );  
        // alert(  prnhtml );
        prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr)); 
        // alert(prnhtml);

        var prtWin = window.open("","myPrintWin","width=800,height=600,resizable=yes,scrollbars =yes,status=no,toolbar=no,menubar=no,location=no");
        if( prtWin != null )
        {
        prnhtml = prnhtml.replace(/border=0/g,"border=1");
        prnhtml = prnhtml.replace(/cellpadding='2'/g,"cellpadding=0");
        prnhtml = prnhtml.replace(/cellSpacing=1/g,"cellSpacing=0 bordercolorlight=#FFFFFF");
        //prtWin.document.body.innerHTML="<table width='700 border=0 align=center  cellpadding=0' cellspacing=0>"+prnhtml+"<\/table>";
        prtWin.document.write("<html><link href='http://202.112.154.36:8000/cwcx/kfgz/css/wendy_prt.css' rel='stylesheet' type='text/css'><head><title>打印<\/title><\/head><body>");
        prtWin.document.write(prnhtml);
        prtWin.document.write("<\/body><\/html>");
        prtWin.document.close();
        prtWin.focus();
        prtWin.print();
        }

        } 
        </script>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="http://202.112.154.36:8000/cwcx/kfgz/css/wendy.css" rel="stylesheet" type="text/css">
        <link href="http://202.112.154.36:8000/cwcx/kfgz/css/wendy.css" rel="stylesheet" type="text/css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <title>
            工资查询
        </title>
        <style type="text/css">
dt {background-color: #C6E2FF;width:100px;font-size:12px;}
        dd {background-color: #fff;width:150px;font-size:12px;}
        .dl-horizontal dt {
            float: left;
            width: 100px;
            overflow: hidden;
            clear: left;
            text-align: right;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        </style>
    </head>
    <body>
        <form action="gzcx_mis.asp" method="post" name="menuForm">
            <input type="hidden" name="op_where" value="">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr height="30">
                    <td width="200" valign="middle">
                        <font color="blue">&nbsp;&nbsp;<a href="/">首页</a></font> &gt; 工资
                    </td>
                </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="15%" bgcolor="#C6E2FF">
                        <!-- <input name="Style" type="radio" value="1" onclick="onChnageStyle(this);" checked> 工资条形式 -->
                    </td>
                    <td width="15%" bgcolor="#C6E2FF">
                        <!-- <input name="Style" type="radio" value="2" onclick="onChnageStyle(this);"> 表单形式 -->
                    </td>
                    <td width="30%" bgcolor="#C6E2FF">
                        <a href="#">选择年份&nbsp;</a> <select name="queryYear" onchange="onSelectChange();">
                            <option value='0000'>
                                最近12个月
                            </option>
                            <option value='2012' selected>
                                2012
                            </option>
                            <option value='2011'>
                                2011
                            </option>
                            <option value='2010'>
                                2010
                            </option>
                            <option value='2009'>
                                2009
                            </option>
                            <option value='2008'>
                                2008
                            </option>
                            <option value='2007'>
                                2007
                            </option>
                            <option value='2006'>
                                2006
                            </option>
                            <option value='2005'>
                                2005
                            </option>
                            <option value='2004'>
                                2004
                            </option>
                            <option value='9999'>
                                全部月份
                            </option>
                        </select>
                    </td>
                    <td width="15%" bgcolor="#C6E2FF">
                        <!-- <a href="#" onclick="onQueryPanelClose('show','queryPanel');"><img src="http://202.112.154.36:8000/cwcx/images/gong.gif" width="80" height="20" border="0"></a> -->
                    </td>
                    <td width="20%" bgcolor="#C6E2FF">
                        <!--  <a href="#" onclick="window.open('select_zd.asp','_blank','width=700,height=400,resizable=yes,scrollbars =yes,status=no,toolbar=no,menubar=no,location=no')"><img src="http://202.112.154.36:8000/cwcx/images/zi.gif" width="90" height="20" border="0"></a> -->
                    </td>
                    <td width="20%" bgcolor="#C6E2FF">
                        <img border="0" src="http://202.112.154.36:8000/cwcx/kfgz/images/print.jpg" width='65' height='20' onclick='preview();' style='cursor:hand'>
                    </td>
                </tr>
            </table>
        </form><!-- startprint-->
        {% regroup gs by year as year_list %}
        {% for year in year_list%}
        {% regroup year.list by month as month_list %}
        {%for month in month_list %}
        <h2>
            {{year.grouper}}年{{month.grouper}}月工资明细
        </h2>
        <table width="100%" border="0" cellpadding="0" cellspacing="1">
            <tbody>
                <tr>
                    <th bgcolor="#C6E2FF" width="100">
                        项目
                    </th>
                    <th bgcolor="#C6E2FF" width="100">
                        应发
                    </th>
                    <th bgcolor="#C6E2FF" width="100">
                        保险
                    </th>
                    <th bgcolor="#C6E2FF" width="100">
                        公积金
                    </th>
                    <th bgcolor="#C6E2FF" width="100">
                        税金
                    </th>
                    <th bgcolor="#C6E2FF" width="100">
                        实发
                    </th>
                </tr>
                {%for gongzi in month.list%}
                <tr class="gongzi_{{year.grouper}}{{month.grouper}}">
                    <td bgcolor="#C6E2FF" width="100">
                        {{gongzi.xiangmu}}
                    </td>
                    <td class="yingfa" bgcolor="#F2F2F2" width="100">
                        {{gongzi.yingfa}}
                    </td>
                    <td class="baoxian" bgcolor="#F2F2F2" width="100">
                        {{gongzi.baoxian}}
                    </td>
                    <td class="gongjijin" bgcolor="#F2F2F2" width="100">
                        {{gongzi.gongjijin}}
                    </td>
                    <td class="shuijin" bgcolor="#F2F2F2" width="100">
                        {{gongzi.shuijin}}
                    </td>
                    <td class="shifa" bgcolor="#F2F2F2" width="100">
                        {{gongzi.shifa}}
                    </td>
                </tr>
                {%endfor%}
                <tr class="gongzi_huizong" data-id="gongzi_{{year.grouper}}{{month.grouper}}">
                    <td bgcolor="#C6E2FF" width="100">
                        合计
                    </td>
                    <td class="yingfa" bgcolor="#F2F2F2" width="100">
                        {{gongzi.yingfa}}
                    </td>
                    <td class="baoxian" bgcolor="#F2F2F2" width="100">
                        {{gongzi.baoxian}}
                    </td>
                    <td class="gongjijin" bgcolor="#F2F2F2" width="100">
                        {{gongzi.gongjijin}}
                    </td>
                    <td class="shuijin" bgcolor="#F2F2F2" width="100">
                        {{gongzi.shuijin}}
                    </td>
                    <td class="shifa" bgcolor="#F2F2F2" width="100">
                        {{gongzi.shifa}}
                    </td>
                </tr>
            </tbody>
        </table>
        {%endfor%}
        {%endfor%}
        <p>
            &nbsp;
        </p><!-- endprint-->
        <script type="text/javascript">
        $(document).ready(function(){
            $(".gongzi_huizong").each(function(){
                var thisid = $(this).attr('data-id');
                var yingfa =0, baoxian=0, gongjijin=0, shuijin=0, shifa=0;
                $('.'+thisid).each(function(){
                    yingfa += parseFloat($(this).find('.yingfa').text());
                    baoxian += parseFloat($(this).find('.baoxian').text());
                    gongjijin += parseFloat($(this).find('.gongjijin').text());
                    shuijin += parseFloat($(this).find('.shuijin').text());
                    shifa += parseFloat($(this).find('.shifa').text());
                });
                $(this).find('.yingfa').html(yingfa);
                $(this).find('.baoxian').html(baoxian);
                $(this).find('.gongjijin').html(gongjijin);
                $(this).find('.shuijin').html(shuijin);
                $(this).find('.shifa').html(shifa);
            });
        });
        </script>
    </body>
</html>