<!DOCTYPE html>
<html>
	<head>
		<title>
			上传个人收入
		</title>
		<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="container" id="main">
			<div class="main">
				<div class="page-header">
					<h1>
						上传个人收入
					</h1>
				</div>
                <div class="row">
                    <div class="span4">
				<form class="well" method="post" name="upload" enctype="multipart/form-data">
					{%csrf_token%}
					<div class="control-group">
						<label>年份</label>
						<div class="signin-controls">
							<select name="year">
								<option>2012</option>
								<option>2013</option>
								<option>2014</option>
								<option>2015</option>
								<option>2016</option>
								<option>2017</option>
								<option>2018</option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label>月份</label>
						<div class="signin-controls">
							<select name="month">
								<option {%if month == 1%}selected=selected{%endif%}>1</option>
								<option {%if month == 2%}selected=selected{%endif%}>2</option>
								<option {%if month == 3%}selected=selected{%endif%}>3</option>
								<option {%if month == 4%}selected=selected{%endif%}>4</option>
								<option {%if month == 5%}selected=selected{%endif%}>5</option>
								<option {%if month == 6%}selected=selected{%endif%}>6</option>
								<option {%if month == 7%}selected=selected{%endif%}>7</option>
								<option {%if month == 8%}selected=selected{%endif%}>8</option>
								<option {%if month == 9%}selected=selected{%endif%}>9</option>
								<option {%if month == 10%}selected=selected{%endif%}>10</option>
								<option {%if month == 11%}selected=selected{%endif%}>11</option>
								<option {%if month == 12%}selected=selected{%endif%}>12</option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<div class="signin-controls">
							<input type="file" class="input-large" name="file">
						</div>
					</div>
					<div class="control-group">
						<label class="signin-control-label" for="">&nbsp;</label>
						<div class="signin-controls">
							<input class="btn btn-primary" data-loading-text="请等待..." type="submit" value="提交"> <!--        <a class="btn btn-inverse" href="#">忘记密码？</a> -->
						</div>
					</div>
				</form>
            </div>
            {%if post%}
                <div class="span8">
                {%if err%}
                {%for e in err%}
                <p class="text-error">
                {{e}}
            	</p>
                {%endfor%}
                {%else%}
                <p class='text-success'>
                	上传成功
                </p>
                {%endif%}
                </div>
            {%endif%}
            </div>
			</div>
		</div>
	</body>
</html>