{% extends "registration/base_registration.html" %}


{% block title %}Log in{% endblock %}


{% block content_title %}
  <h2>登录</h2>
{% endblock %}


{% block content %}
<div class="main">
    <form class="form-horizontal" name="loginform" id="loginform" action="" method="POST">
      <fieldset>
        <legend>登录</legend>
        <div class="signin_left">
          <div class="notice">
            <p>
              <span>输入用户名密码后，点击登录进入信息系统。</span>
            </p>
            <p>
              <span>1、用户名是工资号</span>
            </p>
            <p>
              <span>2、如果工资号不能登录，请用身份证号</span>
            </p>
            <p>
              <span>3、初始密码已通过邮件的方式发送给您</span>
            </p>
          </div>
        </div>
        {%csrf_token%}
        <div class="signin_right">
            <div class="control-group">
            <label class="signin-control-label" for="">&nbsp;</label>
              <div class="signin-controls">
                <a class="btn btn-warning" href="#"><i class="icon-user icon-white"></i>  用  户  登  录</a>
              </div>
            </div>
            <div class="control-group">
              <label class="signin-control-label" for="id_username">用户名</label>
              <div class="signin-controls">
                <input type="text" class="input-large" name="username" id="id_username">
                <p class="help-block">用户名是工资号</p>
              </div>
            </div>
            <div class="control-group">
              <label class="signin-control-label" for="id_password">密码</label>
              <div class="signin-controls">
                <input type="password" class="input-large" name="password" id="id_password">
              </div>
            </div>
            <div class="control-group">
            <label class="signin-control-label" for="">&nbsp;</label>
              <div class="signin-controls">
                <input class="btn btn-primary" data-loading-text="请等待..." type="submit" value="登录">
                <!--        <a class="btn btn-inverse" href="#">忘记密码？</a> -->
              </div>
            </div>
    	</div>
      </fieldset>
    </form>
</div>
<script>
{% if form.errors %}
    {% for field, errors in form.errors.items %}
    {% for error in errors %}
    alert("{{error}}");
    {% endfor %}
    {% endfor %}
{% endif %}
</script>
{% endblock %}