{% extends "registration/base_registration.html" %}
{% block title %}Change password{% endblock %}
{% block content %}
<div class="main">       
    <form class="form-horizontal" name="loginform" id="loginform" action="" method="POST">
      <fieldset>
        <legend>修改密码</legend>
        <div class="signin_left">
          <div class="notice">
            <p>
              <span>输入用户名密码后，点击登录进入信息系统。</span> 
            </p>
            <p>
              <a href="javascript:history.go(-1);">返回</a>
            </p>
          </div>
        </div>
        {%csrf_token%}
        <div class="signin_right">
            <div class="control-group">
            <label class="signin-control-label" for="">&nbsp;</label>
              <div class="signin-controls">
                <a class="btn btn-warning" href="#"><i class="icon-user icon-white"></i>修 改 密 码</a>
              </div>
            </div>
            <div class="control-group">
              <label class="signin-control-label" for="id_password">旧密码</label>
              <div class="signin-controls">
                <input type="password" class="input-large" name="old_password" id="id_old_password">
              </div>
            </div>
            <div class="control-group">
              <label class="signin-control-label" for="id_password">新密码</label>
              <div class="signin-controls">
                <input type="password" class="input-large" name="new_password1" id="id_new_password1">
              </div>
            </div>
            <div class="control-group">
              <label class="signin-control-label" for="id_password">重复</label>
              <div class="signin-controls">
                <input type="password" class="input-large" name="new_password2" id="id_new_password2">
              </div>
            </div>
            <div class="control-group">
            <label class="signin-control-label" for="">&nbsp;</label>
              <div class="signin-controls">
                <input class="btn btn-primary" data-loading-text="请等待..." type="submit" value="提交">
                <!--        <a class="btn btn-inverse" href="#">忘记密码？</a> -->
              </div>
            </div>
    	</div>
      </fieldset>
    </form>
</div>
{% endblock %}
